<mat-toolbar class="cabecalho">
  <div class="cabecalho__funcoes-principais">
    <span>My Application</span>
    <div class="example-button-row">
      <button href="#" mat-button>Início</button>
    </div>
  </div>
  <div class="cabecalho__funcoes-secundarias">
    <button mat-icon-button (click)="alternarTemaAplicacao()" class="theme-toggle" aria-label="Toggle Dark Theme">
      <mat-icon>{{ temaEscuroEstaConfigurado() ? "dark_mode" : "light_mode" }}</mat-icon>
    </button>
    <div *ngIf="usuarioEstaLogado$ | async" class="cabecalho__funcoes-secundarias">
      <span *ngIf="usuarioLogado$ | async as usuarioLogado">
        {{ usuarioLogado.email }}
      </span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
