.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__funcoes-principais {
    align-items: center;
    display: flex;
  }

  &__funcoes-secundarias {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
  }
}
