@use "@angular/material" as mat;

$my-palette: mat.define-palette(mat.$blue-grey-palette);

.aplicacao-container {
  max-height: 100vh;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 50px;
}

.dark .aplicacao-container {
  background: mat.get-color-from-palette($my-palette, 100);
  background-color: mat.get-color-from-palette($my-palette, 300);
  color: mat.get-color-from-palette($my-palette, "500-contrast");
}

.cabecalho {
}

.conteudo {
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  overflow-y: auto;
  overflow-x: auto;

  &__carregamento {
    position: fixed;
    top: 60;
    width: 100%;
  }
}

.rodape {
}
