@use "@angular/material" as mat;

$my-palette: mat.define-palette(mat.$blue-grey-palette);

.aplicacao-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 68px 1fr 50px;
}

.dark .aplicacao-container {
  background: mat.get-color-from-palette($my-palette, 100);
  background-color: mat.get-color-from-palette($my-palette, 400);
  color: mat.get-color-from-palette($my-palette, "500-contrast");
}

.cabecalho {
}

.conteudo {
  width: 100%;
  overflow-y: auto;

  &__carregamento {
    position: fixed;
    width: 100%;
  }
}

.rodape {
}
