<div class="tela-login">
  <mat-card class="tela-login__card-form">
    <mat-card-header>
      <mat-card-title>Autentição do usuário</mat-card-title>
      <mat-card-subtitle>Informe o usuário e a senha</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <div [formGroup]="form" class="card-body tela-login__card-form--campos">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            aria-label="teste"
            formControlName="email"
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password" />
        </mat-form-field>
      </div>

      <div [tabIndex]="0">teste</div>

      <div class="tela-login__container-botao">
        <button mat-raised-button (click)="login()" color="primary">
          Login
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
