.tela-login {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  &__card-form {
    display: flex;
    flex-flow: column;
    align-self: center;
    justify-self: center;
    width: 500px;
    gap: 0.5rem;

    &--campos {
      display: flex;
      flex-flow: column;
      padding: 1.5rem 0px;
    }
  }

  &__container-botao {
    display: flex;
    flex-flow: row;
    gap: 5px;
  }
}
