@use "@angular/material" as mat;
@use "sass:map";

@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$teal-palette, 200),
      accent: mat.define-palette(mat.$indigo-palette),
    ),
    density: 0,
    typography: mat.define-typography-config(),
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
  )
);

@include mat.all-component-themes($light-theme);

.dark {
  @include mat.all-component-colors($dark-theme);
  color: #ffffff;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
